* {
  box-sizing: border-box;
}

#page_wrapper {
  padding: 0 100px;
}

#header_content {
  display:flex;
  justify-content: space-between;
  align-items:end;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: beige;
}

#header_name {
  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px;
}

#header_description {
  font-size: 18px;
}

#header_picture {
  background-image: url("https://avatars.githubusercontent.com/u/73337148?v=4");
  background-size: contain;
  width: 200px;
  height: 200px;
}